<h2>Editar Cuenta <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
    <%= f.input :nombre,
                required: false,
                hint: "deje el espacio en blanco si no quiere modificarlo",
                input_html: { autocomplete: "nombre" }%>
    <%= f.input :apellido,
                required: false,
                hint: "deje el espacio en blanco si no quiere modificarlo",
                input_html: { autocomplete: "apellido" }%>
    <%= f.input :DNI,
                required: false,
                hint: "deje el espacio en blanco si no quiere modificarlo",
                input_html: { autocomplete: "DNI" }%>
    <%= f.input :edad,
                required: false,
                hint: "deje el espacio en blanco si no quiere modificarlo",
                input_html: { autocomplete: "edad" }%>
    <%= f.input :codigoTarjeta,
                required: true,
                autofocus: true ,
                input_html: { autocomplete: "codigoTarjeta" }%>
    <%= f.input :numeroTarjeta,
                required: true,
                autofocus: true ,
                input_html: { autocomplete: "numeroTarjeta" }%>
    <%="Fecha de vencimiento de la tarjeta"%>
    <div class="form-group">
    <%=f.label :vencimientoTarjeta, 'Fecha'%>
    <%=f.date_select :vencimientoTarjeta  %>
    </div>
    <%= f.input :password,
                hint: "deje el espacio en blanco si no quiere modificarlo",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: "necesitamos su contraseña actual para guardar los cambios",
                required: true,
                input_html: { autocomplete: "current-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<h3>Cancelar mi cuenta</h3>

<p>Insatisfecho? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Atras", :back %>
