<p id="notice"><%= notice %></p>

<h1>Petitions</h1>

<table>

  <tbody>
      <% @petitions.each do |petition| %>
      <%= form_for petition, url: validar_path do |f|%>
      <div class="container-fluid">
      <div class="form-group">
      <span class="border border-primary"></span>
      <%=f.label :email, petition.user.email%>
      <%= f.hidden_field :id %>
      <span class="border border-primary"></span>
      
   
      <%= f.submit 'Aceptar', class: 'btn btn-primary' %>
      <%= f.submit 'Rechazar', class: 'btn btn-primary' %>
      </div>
      </div>
    
      <% end %>
      <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Petition', new_petition_path %>
