
<%= form_for(@auctionn) do |f| %>
 
<div class="container-fluid">
  <div class="form-group">
    <%=f.label :nombre, 'Nombre '%>
    <%=f.text_field :nombre, class: 'form-control', placeholder: 'Ingrese nombre de la propiedad a subastar', required: true%>
  </div>
   <div class="form-group">
    <%=f.label :licitacion, 'Licitacion'%>
    <%=f.text_field :licitacion, class: 'form-control', placeholder: 'Ingrese precio de la puja', required: true%>
  </div>
   <div class="form-group">
    <%=f.label :fecha, 'Fecha '%>
    <%=f.text_field :fecha, class: 'form-control', placeholder: 'Ingrese fecha', required: true%>
  </div>
  <div class="form-group">
    <%=f.label :monto, 'Monto'%>
    <%=f.text_field :monto, class: 'form-control', placeholder:  'Ingrese precio de la propiedad', required: true%>
  </div>
</div>
  <div class="form-actions">
    <%= f.submit 'crear nueva subasta', class: 'btn btn-primary' %>
  </div>
<% end %>
