<p id="notice"><%= notice %></p>

<h1>Subastas:</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>

      <th>Licitacion</th>
      
      <th>Fecha</th>
      
      <th>Monto</th>

      
      
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @auctionns.each do |auctionn| %>
      <tr>
        <td><%= auctionn.nombre %></td>

        <td><%= auctionn.licitacion %></td>
        
        <td><%= auctionn.fecha %></td>
        
        <td><%= auctionn.monto %></td>
        
        <td><%= link_to 'mostrar', auctionn, class: 'btn btn-info btn-sm' %></td>
        <td><%= link_to 'editar', edit_auctionn_path(auctionn),class: 'btn btn-info btn-sm' %></td>
        <td><%= link_to 'eliminar', auctionn, method: :delete, data: { confirm: 'Realmente quieres eliminar la Subasta' },class: 'btn btn-danger btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'nueva subasta', new_auctionn_path, class: 'btn btn-primary' %>
