<p id="notice"><%= notice %></p>

<p>
  <strong>Puja:</strong>
  <%= @auctionn.puja %>
</p>

<p>


<p>
  <strong>Fecha:</strong>
  <%= @auctionn.fecha %>


</p>

<p>
  <strong>Participantes:</strong>
  
</p>

<p>
  <strong>Precio:</strong>
  <%= @auctionn.precio %>
</p>

<p>
  <strong>Minimo:</strong>
  <%= @auctionn.minimo %>
</p>

<%= link_to 'Edit', edit_auctionn_path(@auctionn) %> |
<%= link_to 'Back', auctionns_path %>
