<p id="notice"><%= notice %></p>
<p>
  <strong>Nombre:</strong>
    <%= @auctionn.nombre %>
</p>
<p>
  <strong>Licitacion:</strong>
  <%= @auctionn.licitacion %>
</p>

<p>


<p>
  <strong>Fecha:</strong>
  <%= @auctionn.fecha %>


</p>



<p>
  <strong>monto:</strong>
  <%= @auctionn.monto %>
</p>



<%= link_to 'Edit', edit_auctionn_path(@auctionn) %> |
<%= link_to 'Back', auctionns_path %>
