<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @user.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @user.apellido %>
</p>

<p>
  <strong>DNI:</strong>
  <%= @user.DNI %>
</p>



<p>
  <strong>Edad:</strong>
  <%= @user.edad %>
</p>
