<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @user.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @user.apellido %>
</p>

<p>
  <strong>DNI:</strong>
  <%= @user.DNI %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @user.premium %>
</p>

<p>
  <strong>Fecha de nacimiento:</strong>
  <%= @user.edad %>
</p>
