<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @user.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @user.apellido %>
</p>

<p>
  <strong>DNI:</strong>
  <%= @user.dni %>
</p>

<p>
  <strong>Fecha de nacimiento:</strong>
  <%= @user.fechaNacimiento %>
</p>
