
<h3> Modificacion de una propiedad</h3>

<%=form_for @property do |f| %>
<div class="form-group">
    <%=f.label :nombre, 'Nombre'%>
    <%=f.text_field :nombre, class: 'form-control', placeholder: 'Ingrese el nombre de la propiedad', required: true %>
  </div>
<div class="form-group">
    <%=f.label :descripcion, 'Descripcion de la propiedad'%>
    <%=f.text_field :descripcion, class: 'form-control', placeholder: 'Ingrese la descripcion de la propiedad', required: true %>
  </div>
<div class="form-group">
    <%=f.label :lugar, 'Lugar'%>
    <%=f.text_field :lugar, class: 'form-control', placeholder: 'Ingrese el lugar donde se encuentra la propiedad', required: true %>
  </div>
   <div class="form-group">

    <%=f.label :descripcionLug, 'Descripcion del lugar'%>
    <%=f.text_field :descripcionLug, class: 'form-control', placeholder: 'Ingrese la descripcion del lugar donde se encuentra la propiedad', required: true %>

  </div>
  <%= f.submit%>
  <%= link_to 'atras', properties_path %>
  <% end %>
  

