<h1> Propiedades </h1>

<table class="table">
<thead>
    <tr>
    <th width="40%">Nombre </th >
    <th width="40%">Descripcion de la propiedad</th >
    <th width="40%">Lugar </th >
    <th width="40%">Descripcion del lugar</th >
    <th colspan= "3" ></th>
    </tr>
</thead>

<tbody>
    <% @properties.each do |property| %>
      <tr>
      <td> <%= property.nombre%> </td>
      <td> <%= property.descripcion%> </td>
      <td> <%= property.lugar%> </td>
      <td> <%= property.descripcionLug%> </td>
      <td> <%=link_to 'Mostrar', property, class: 'btn btn-primary btn-sm'%>
      <td> <%=link_to 'Editar', edit_property_path(property), class: 'btn btn-primary btn-sm'%>
      <td> <%=link_to 'Eliminar', property, method: :delete, class: 'btn btn-danger btn-sm',data: { confirm: "¿Realmente desea eliminar la propiedad?"} %>
        </td>
        </tr>
    <%end%>
</tbody>
</table>
<br>
<%= link_to "Nueva propiedad", new_property_path,class: 'btn btn-primary' %>