

<h1>Subastas</h1>
<table class="table">
  <thead>
    <tr>    
      <th>Nombre</th>
      <th>Puja</th>
      <th>Fecha a subastar</th>
        <th>Fecha de Inicio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @auction1s.each do |auction1| %>
      <tr>
        <td><%= auction1.property.nombre %></td>
        <td><%= auction1.puja %></td>
        <td><%= I18n.localize(auction1.fechanew) if auction1.fechanew  %></td>
         <td><%= I18n.localize(auction1.fechainicio) if auction1.fechainicio  %></td>
          <td><%= link_to 'mostrar', auction1, class: 'btn btn-info btn-sm' %></td>
  </tr>
    <% end %>
  </tbody>
</table>

<br>

