
 <div class="container-fluid">
<p>
  <strong>Nombre:</strong>
  <%= @auction1.property.nombre %>
</p>


<p>
  <strong>Puja:</strong>
  <%= @auction1.puja %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @auction1.fechanew %>
</p>
<% if signed_in? &&  current_user.esAdmin  %>
<%= link_to 'editar', edit_auction1_path( @auction1.property_id) %> |
<%= link_to 'atras', auction1s_path %>
<%end%>
</div>

