<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @auction1.nombre %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @auction1.precio %>
</p>

<p>
  <strong>Puja:</strong>
  <%= @auction1.puja %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @auction1.fecha %>
</p>

<%= link_to 'editar', edit_auction1_path(@auction1) %> |
<%= link_to 'atras', auction1s_path %>
